hard_drives:
  activity_for: sda
  partitions: # examples of partitions you want to monitor
    root: '/'
    home: '/home/your_user'
    my_partition: '/home/your_user/folder'
    tmp: '/tmp'

gmail:
  login: 'my_address@gmail.com'
  password: 'my_password'

wunderground:
  api_key: my_api_key
  city: City
  state: NC
  unit_of_measurement: 'celsius' # celsius or fahrenheit. Celsius by default
  system: 'metric' # metric or imperial. Metric by default
