network_interface: wlp1s0 # your wi-fi interface. Try "ip link show" command
hard_drives:
  activity_for: sda
  partitions: # examples of partitions you want to monitor
    root: '/'
    home: '/home/your_user'
    my_partition: '/home/your_user/folder'
    tmp: '/tmp'

weather:
  api_key: my_api_key
  city_id: 1234567
